body {
    background: linear-gradient(to right, rgba(234, 102, 199, 0.5), rgba(118, 75, 162, 0.5))
  }
header{
    background-color:  rgba(118, 75, 162, 0.5);
    color: black;
}

main .card {
    border-radius: 10%;
    border-color: grey;
    border-width: thick;
}